/*header{
	height: 100vh;
	background-image: url("img.png");
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}*/
/*body *{
	border:1px solid black;
}*/


header{
height: 110px;	
display: flex;
justify-content: space-around;
}

body{
	background: #edd19c;
}
.znachoc{
	width: 60px;
	height: 60px;
	background-image: url(ico_1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	
}
.contact{
    width: 200px;
	height: 110px;
	display:inline-block;
	font-weight: bold;
	font-style: italic;
	font-size: 18px

}
.prichina{
	width: 250px;
	height: 150px;
	display: flex;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;

}
.container{
	display: flex;
	justify-content: center;
	font-size: 18px;
	color: #454547;
	text-decoration:underline;
	transition: all 0.3s ease;

}
.item:hover{
	background:#454547;
	color: #ffffff;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
}
/*.container div ul{
	position: absolute;
	min-width: 150px;	
}*/


.item:hover ul{
	display: block;
}

.fa-shopping-cart ul, .fa-th-list ul, .fa-fa-money ul, .fa-fa-home ul{
	position: absolute;
	display: none;
	list-style: none;
	background:#454547;
	color: white;
	padding:0px;
	z-index: 10;
	border: 1px solid white;
}
.fa-shopping-cart li:hover, .fa-th-list li:hover, .fa-fa-money li:hover, .fa-fa-home li:hover{
	background-color: white;
}
.fa-shopping-cart li:hover a, .fa-th-list li:hover a, .fa-fa-money:hover a, .fa-fa-home:hover a{
	color:black;

}
.fa-shopping-cart li, .fa-th-list li, .fa-fa-money li, .fa-fa-home li{
padding: 15px;
}
.fa-shopping-cart a, .fa-th-list a, .fa-fa-money a, .fa-fa-home a{
	color: white;
	margin: 15px;
}

.item{
height: 20px;	
padding:10px;
background-color: #64b5f6;
flex-grow: 1;
border: 1px solid white;
}
.logo{
	display: block;
	margin:0 auto;
	width: 100%;
	filter: brightness(100%);
	transform: translate(50px 50px);
}
body{
	padding:0px 10%;
}
.zagalovok{
	height: 175px;	
    font-size: 30px;
    justify-content: space-around;	
    display: flex;
    background: #c79e73;
    text-align: center;
}
footer{
	background: #64b5f6;
	height:60px;
	width: 1000px;
	text-align: center;
	padding-top: 25px;
	box-sizing: border-box;

}
footer a{
	padding:0px 30px;
	color:white;
	font-size: 18px;
	font-family: sans-serif;
	

}
footer a:hover{
	text-decoration: none;
}
.zapros{
    /*display: inline-block;
    padding-top: 10px;
	font-style: italic;
	font-weight: 900;	
    font-size: 180%;
    justify-content: space-around;
    margin-left: 370px;*/
    background-color: #fafafa;
	border:5px solid #e0e0e0;
	width: 940px;
	height: 210px;
	display: flex;
	align-items: center;
	padding: 25px;
	flex-wrap: wrap;
	justify-content: center;



}
input{
	width: 80%;
	display: block;
	padding: 15px;
    margin:10px;
    background-color: #64b5f6;

}
.input1{
   height: 10px;
	font-family: Lato;
	font-style: italic;
	font-weight: 900;
	font-size: 60%;
	margin-bottom: 15px;
}
.adres{
	
    font-style: italic;
	font-weight: 900;
	font-size: 150%;
	margin-left: 50px;
	margin-right: 50px;
	justify-content: center;
	text-align: center;
	
}
	

button{
	border-radius: 10px;
	width: 250px;
	height: 50px;
	background-color: #c79e73;
	color:white;
	outline:none;
	border:none;
}

.form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
